.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

messenger/node_modules
restful/node_modules
scheduling/node_modules
messenger_browser/node_modules

scheduling/build
messenger/build
restful/build
messenger_browser/build

.DS_Store
messenger/.DS_Store
restful/.DS_Store
scheduling/.DS_Store